.menu__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--spaceS);
  padding: var(--spaceS) var(--spaceM);
  margin: var(--spaceS) 0;
  cursor: pointer;
  font-size: 0.85rem;
}

.menu__item::after {
  content: "";
  position: absolute;
  right: -5px;
  width: 1px;
  height: 100%;
  background-color: var(--accent);
  transform: scaleY(0);
  transform-origin: bottom;
  transition-property: transform;
  transition-duration: var(--durationS);
  transition-timing-function: ease-in;
}

@media (max-width: 696px) {
  .menu__item::after {
    display: none;
  }
}

.menu__item:hover::after,
.menu__item:active::after,
.menu__item:active:focus {
  transform: scaleX(1);
  transform-origin: top;
}

.menu__item-icon {
  height: 20px;
  width: 20px;
  color: var(--text);
}

.menu__item:hover .menu__item-icon,
.menu__item:active .menu__item-icon,
.menu__item:focus .menu__item-icon {
  color: var(--accent);
}

.menu__item-link {
  color: var(--text);
}

.menu__item-link[aria-current="page"] {
  color: var(--accent);
}

@media (max-width: 696px) {
  .menu__item-link {
    display: none;
  }
}
