body {
  font-family: "Poppins", sans-serif;
  text-rendering: optimizeLegibility;
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--primary);
}

.app {
  width: 100%;
  position: relative;
  background-color: var(--primary);
  transition-property: background-color;
  transition-duration: var(--durationM);
  transition-timing-function: ease;
  outline: none;
  display: grid;
  grid-template: 100% / 100%;
}

.app__page {
  opacity: 0;
  grid-area: 1 / 1;
  transition-property: opacity;
  transition-duration: var(--durationS);
  transition-timing-function: ease;
  min-height: 100vh;
}

.app__page--entered {
  transition-duration: var(--durationL);
  transition-delay: var(--durationXS);
  opacity: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: calc(100% - var(--space5XL) * 1.5);
  min-height: calc(100% - var(--space4XL));
  margin-left: calc(var(--space5XL) * 1.5);
  margin-top: var(--space4XL);
  padding-top: var(--spaceL);
  z-index: 0;
}

@media (max-width: 696px) {
  .content {
    width: calc(100% - var(--space3XL));
    margin-left: var(--space3XL);
    margin-right: 0;
  }
}
