body {
  font-family: "Poppins", sans-serif;
  text-rendering: optimizeLegibility;
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--primary);
}

.app {
  width: 100%;
  position: relative;
  background-color: var(--primary);
  transition-property: background-color;
  transition-duration: var(--durationM);
  transition-timing-function: ease;
  outline: none;
  display: grid;
  grid-template: 100% / 100%;
}

.app__page {
  opacity: 0;
  grid-area: 1 / 1;
  transition-property: opacity;
  transition-duration: var(--durationS);
  transition-timing-function: ease;
  min-height: 100vh;
}

.app__page--entered {
  transition-duration: var(--durationL);
  transition-delay: var(--durationXS);
  opacity: 1;
}
