.header {
  position: fixed;
  right: 0;
  left: calc(var(--space5XL) * 1.5);
  height: var(--space4XL);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 696px) {
  .header {
    left: var(--space3XL);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.personal-info {
  display: flex;
  align-items: center;
  position: relative;
  top: var(--spaceL);
  right: var(--space2XL);
  gap: var(--spaceXL);
}

@media (max-width: 696px) {
  .personal-info {
    right: 0;
  }
}

.personal-info__icon {
  color: var(--text);
  height: 25px;
  width: 25px;
  cursor: pointer;
}

@media (max-width: 696px) {
  .personal-info__icon {
    height: 20px;
    width: 20px;
  }
}

.icon-profile {
  margin-left: var(--spaceS);
  height: 40px;
  width: 40px;
}

@media (max-width: 696px) {
  .icon-profile {
    height: 35px;
    width: 35px;
    margin-left: 0;
  }
}
