.sidebar {
  background-color: var(--secondary);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: calc(var(--space5XL) * 1.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: var(--zIndexSidebar);
  overflow-y: hidden;
}

.touch-area {
  /* Hack para o addEventListener funcionar */
  background: transparent url(../../assets/images/clear.gif) repeat;
  /* -------------------------------------- */
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 200;
  width: var(--space4XL);
}

@media (max-width: 696px) {
  .sidebar {
    width: var(--space3XL);
    transform: translateX(-100%);
  }
}
