.sidebar {
  background-color: var(--sidebarBackgroundColor);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: calc(var(--space5XL) * 1.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: var(--zIndexSidebar);
}

@media (max-width: 696px) {
  .sidebar {
    width: var(--space3XL);
  }
}
